@charset "utf-8";
/* CSS Document */
/* ======= 全局 ======= */
*{margin:0px; padding:0px;}
body,html{font-size:14px; font-family:"宋体"; text-align:center; }
img,iframe{border:none;}
ul,li,ol{list-style:none;}
a{color:#00F;}
a:hover{color:#F00;}
a:visited{color:#800080;}
#container div.clear{clear:both; font-size:1px; height:0px; line-height:0px; border:none;}
#txt{ width:800px; margin:0 auto; line-height:18px; color:#00F; font-size:14px; text-align:center;}
/* ======= id ======= */
#container{ text-align:left; margin:0px auto; width:990px;}


/*打字*/
#content .typing{margin-bottom:10px; font-size:14px; background:#EFEFEF; border:1px solid #CCC; padding:5px;}
#content .typing input,#content .typing .text{width:970px; background:#FFF; margin-bottom:5px; height:20px; border:1px solid #CCC; padding:2px; line-height:20px; font-size:14px; color:#333; font-weight:bold; font-family:"宋体";}
#content .typing.zoom_font,#content .typing.zoom_font input,#content .typing.zoom_font .text{font-size:18px;}
#content .typing div .green{color:#090;}
#content .typing div .red{color:#FFF; background:#F00;}



/*设置表单*/
.bg_set{background:#FFF url(../images/bg_set.jpg) right 0px no-repeat; padding:100px 180px 0px 180px; height:300px; margin-bottom:10px;}
#content .set_form{width:600px; height:auto; background:#FFF url(../images/bg_set2.jpg) 160px -100px no-repeat; padding:5px;}
#content .set_form form{ border:1px solid #999; padding:5px 0px;}
#content .set_form h3{text-align:center; height:40px; line-height:40px; font-size:22px; color:#333;}
#content .set_form .set_name{ height:40px; line-height:40px; padding-left:150px; margin-top:20px;}
#content .set_form .set_name .username{ height:16px; line-height:16px; padding:3px 5px; width:160px; background:url(../images/login_input-back.gif) no-repeat; border:1px #b6b6b6 solid;}
#content .set_form .set_name .button{padding:2px 10px;}
#content .set_form .shuoming{line-height:25px; font-weight:normal; height:75px; font-size:12px; color:#777; text-indent:2em; margin-top:20px;}
#content .set_form ul li{float:left; width:400px; padding:5px 10px;}
#content .set_form ul li.t{width:150px; text-align:right; color:#333; font-weight:bold;}
#content .set_form ul li .username{width:255px; padding:2px;}
#content .set_form ul li .userpass{width:100px;}
#content .set_form ul li .userpass_ts a{font-size:12px; margin-left:10px; text-decoration:none; color:#F60;}
#content .set_form ul li .userpass_ts a:hover{color:#F00; text-decoration:underline;}
#content .set_form ul li .select{width:260px; padding:2px;}
#content .set_form ul li label{margin-right:20px;}
#content .set_form ul li .time{width:50px; padding:2px;}
#content .set_form ul li .time_info{font-size:12px; color:#555; margin-left:10px;}
#content .set_form ul li.button input{padding:2px 10px; margin-right:10px; float:left;}
#content .set_form ul li.button a{float:right; display:block; margin-top:5px; padding:2px 5px 2px 22px; height:20px; line-height:20px; background:url(../images/icon.gif) 2px -118px no-repeat; text-decoration:none; color:#069;}
#content .set_form ul li.button a:hover{background-color:#FFFFC1; font-weight:bold;}
#content .set_form ul li select.hidden{display:none;}
#content .set_form ul li .zoom_font{margin-left:10px; font-size:14px;}



#content .nofound{color:#F00; line-height:50px; font-weight:bold; margin-left:20px;}
#content .nofound a{font-weight:normal; font-size:12px;}

/*更多文章-详细*/
#content .art_show{border:none; background:url(../images/art_show/bg.gif); padding:10px 143px; width:703px; margin-bottom:10px;}
#content .art_show .top{height:92px;}
#content .art_show .top div{float:left;}
#content .art_show .top .tl{background:url(../images/art_show/tl.gif) no-repeat right bottom; width:52px;}
#content .art_show .top .tm{background:url(../images/art_show/tmb.gif) repeat-x left bottom; width:600px; text-align:right;}
#content .art_show .top .tr{background:url(../images/art_show/tr.gif) no-repeat left bottom; width:51px;}
#content .art_show .mid{background:url(../images/art_show/ml.gif) repeat-y left top; padding-left:52px;}
#content .art_show .mid .mm{background:url(../images/art_show/mm.gif) repeat left top; width:600px;}
#content .art_show .mid .mr{background:url(../images/art_show/mr.gif) repeat-y right top; padding-right:51px;}
#content .art_show .bottom{height:47px; background:url(../images/art_show/br.gif) no-repeat right top; width:703px;}
#content .art_show .bottom .bl{background:url(../images/art_show/bl.gif) no-repeat right top; width:52px; float:left;}
#content .art_show .bottom .bm{background:url(../images/art_show/bm.gif) repeat-x left top; width:600px; float:left;}
#content .art_show h1{font-size:24px; text-align:center; height:40px; line-height:40px;}
#content .art_show .userinfo{text-align:right; font-size:12px; padding:0px 10px; height:25px; line-height:25px; padding-top:7px;}
#content .art_show .add_art{display:block; float:right; height:24px; padding-left:22px; padding-right:10px; color:#EC7600; background:url(../images/icon.gif) no-repeat 0px -98px; margin-left:10px;}
#content .art_show .sys_art{color:#666;}
#content .art_show .author{float:right;}
#content .art_show .art_text{padding:15px; line-height:18px; font-size:12px; background:url(../images/mid_bg.gif);}
#content .art_show .bottom_link{font-size:12px; text-align:center; margin-top:4px;}
#content .art_show .bottom_link a{ color:#333; text-decoration:none; line-height:18px;}
#content .art_show .bottom_link a:hover{color:#F00;}


#wubiflash{
	width:760px;
	height:420px;
	margin:0 auto;
	border:1px solid #CCC;
}
/*键位练习*/
#content #keyboard{margin-bottom:10px; border:none;}
#keyboard .line1{padding-left:5px;}
#keyboard .line1 div{float:left; height:58px; width:65px; background-image:url(bg_typing.jpg); background-position:-389px 0px; background-repeat:no-repeat; background-color:#9980DB;}
#keyboard #art_text{height:60px; padding:10px 0px;}
#keyboard #art_text h3{line-height:40px; color:#F00; background:#FDB; text-align:center; font-size:32px; padding:10px 0px;}
#keyboard .line1 div ul{height:53px; background-image:url(bg_typing.jpg); background-repeat:no-repeat; background-position: -456px 0px; padding:5px 0px 0px 0px;}
#keyboard .line1 div ul li{line-height:19px; text-align:center; font-weight:bold; font-size:16px;}
#keyboard .line1 div ul li.fj{background:url(bg_key_ico.gif) no-repeat center 11px;}
#keyboard .line1 div ul li.enter_ico{background:url(bg_key_ico.gif) no-repeat 30px -82px; padding-left:25px;}
#keyboard .line1 div ul li.shift_ico{background:url(bg_key_ico.gif) no-repeat 30px -100px;}
#keyboard .line1 .b_on{width:65px; background-position:-389px -59px; background-color:#74E396;}
#keyboard .line1 .b_on ul{background-position:-456px -59px;}
#keyboard .line1 .b_on ul li{line-height:38px;}
#keyboard .line1 .b1_on{width:65px; background-position:-389px -57px; background-color:#74E396;}
#keyboard .line1 .b1_err{width:65px; background-position:-389px -116px; background-color:#E9856E;}
#keyboard .line1 .b2{width:65px; background-position:-389px -178px; background-color:#7C8DDB;}
#keyboard .line1 .b2_on{width:65px; background-position:-389px -57px; background-color:#74E396;}
#keyboard .line1 .b2_err{width:65px; background-position:-389px -116px; background-color:#E9856E;}
#keyboard .line1 .b_back{width:130px; background-position:-324px 0px;}
#keyboard .line1 .b_back_on{width:130px; background-position:-324px -57px; background-color:#74E396;}
#keyboard .line1 .b_back_err{width:130px; background-position:-324px -116px; background-color:#E9856E;}
#keyboard .line1 .b_tab{width:97px; background-position:-357px 0px;}
#keyboard .line1 .b_tab_on{width:97px; background-position:-357px -57px; background-color:#74E396;}
#keyboard .line1 .b_tab_err{width:97px; background-position:-357px -116px; background-color:#E9856E;}
#keyboard .line1 .b_lock{width:119px; background-position:-335px 0px;}
#keyboard .line1 .b_lock_on{width:119px; background-position:-335px -57px; background-color:#74E396;}
#keyboard .line1 .b_lock_err{width:119px; background-position:-335px -116px; background-color:#E9856E;}
#keyboard .line1 .b_enter{width:140px; background-position:-314px 0px;}
#keyboard .line1 .b_enter_on{width:140px; background-position:-314px -57px; background-color:#74E396;}
#keyboard .line1 .b_enter_err{width:140px; background-position:-314px -116px; background-color:#E9856E;}
#keyboard .line1 .b_shift{width:162px; background-position:-292px 0px;}
#keyboard .line1 .b_shift_on{width:162px; background-position:-292px -57px; background-color:#74E396;}
#keyboard .line1 .b_ctrl{width:120px; background-position:-334px 0px;}
#keyboard .line1 .b_space{width:409px; background-position:-45px -178px;}
#keyboard .line1 .b_space_on{width:409px; background-position:-45px -57px; background-color:#74E396;}
#keyboard .line1 .b_space_err{width:409px; background-position:-45px -116px;}
#keyboard .line1 .b_win{width:65px; background-position:-389px 0px;}
#keyboard .line1 .b_win li{background:url(bg_key_ico.gif) no-repeat center -10px;}
#keyboard .line1 .b_mouse{width:65px; background-position:-389px 0px;}
#keyboard .line1 .b_mouse li{background:url(bg_key_ico.gif) no-repeat center -41px;}
#keyboard .line1 .b_alt{width:65px; background-position:-389px -178px;}
#keyboard .line1 .b_shift li,#keyboard .line1 .b_shift_on li,#keyboard .line1 .b_alt li,#keyboard .line1 .b_ctrl li,#keyboard .line1 .b_win li,#keyboard .line1 .b_mouse li{line-height:38px;}
#keyboard .line1 .b_space ul,#keyboard .line1 .b_alt ul,#keyboard .line1 .b2 ul{background-position:-456px -178px;}
#keyboard .line1 .b1_on ul,
#keyboard .line1 .b2_on ul,
#keyboard .line1 .b_back_on ul,
#keyboard .line1 .b_enter_on ul,
#keyboard .line1 .b_shift_on ul,
#keyboard .line1 .b_tab_on ul,
#keyboard .line1 .b_space_on ul,
#keyboard .line1 .b_lock_on ul{background-position:-456px -57px; padding:7px 0px 0px 0px; height:51px;}
#keyboard .line1 .b1_err ul,
#keyboard .line1 .b2_err ul,
#keyboard .line1 .b_back_err ul,
#keyboard .line1 .b_enter_err ul,
#keyboard .line1 .b_tab_err ul,
#keyboard .line1 .b_space_err ul,
#keyboard .line1 .b_lock_err ul{background-position:-456px -116px; padding:7px 0px 0px 0px; height:51px;}

#content #keyboard_info{border:none; margin-bottom:10px; padding:0px 5px;}
#keyboard_info .info_text{float:left; height:25px; line-height:25px; color:#333; }
#keyboard_info .info_text ul li{float:left; background-image:url(key_info_ico.gif); background-repeat:no-repeat; width:110px; padding-left:40px;}
#keyboard_info .info_text ul li#shijian{background-position:10px 0px;}
#keyboard_info .info_text ul li#sudu{background-position:10px -60px;}
#keyboard_info .info_text ul li#right_num{background-position:10px -30px;}
#keyboard_info .info_text ul li#jindu{background-position:10px -90px;}
#keyboard_info #test{line-height:25px; padding:0px 5px;}
/*设置练习文章*/
#keyboard_info .setting{float:right; line-height:25px; height:25px; padding-right:10px;}
#keyboard_info .setting #jump_menu{ padding:2px 0px;}
#keyboard_info .setting #jump_menu optgroup{ font-style:normal; text-align:center;}
#keyboard_info .setting #jump_menu option{padding:2px 0px; text-align:left;}
#keyboard_info .setting #jump_menu option.on{color:#804000}